title = "Komsi Berbagi"
url = "/"
layout = "default"
description = "=====HOME Layout=====
	Berisi Carousel Latest Post/Highligh
	dan Login Page"
is_hidden = 0
==
<!-- Carousel Latest Highlight -->
<div class="mdl-card coffee-pic mdl-cell mdl-cell--8-col">
    <div class="mdl-card__media mdl-color-text--grey-50">
        <h3><a href="entry.html">Coffee Pic</a></h3>
    </div>
    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        <div class="minilogo"></div>
        <div>
            <strong>The Newist</strong>
            <span>2 days ago</span>
        </div>
    </div>
</div>
<!-- Login Form -->
<div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
	<!-- <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
		
	</div> -->
	<div class="mdl-card__media mdl-color--white mdl-color-text--grey-600">
	    <form action="#">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
				<input class="mdl-textfield__input" type="email" id="email">
				<label class="mdl-textfield__label" for="email">Email</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:100%">
				<input class="mdl-textfield__input" type="password" id="password">
				<label class="mdl-textfield__label" for="password">Password</label>
			</div>
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="button">Login</button>
		</form>
    </div>
</div>

<div class="mdl-card on-the-road-again mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50">
        <h3><a href="entry.html">On the road again</a></h3>
    </div>
    <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
        Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
    </div>
    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        <div class="minilogo"></div>
        <div>
            <strong>The Newist</strong>
            <span>2 days ago</span>
        </div>
    </div>
</div>
<div class="mdl-card amazing mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title mdl-color-text--grey-50">
        <h3 class="quote"><a href="entry.html">I couldn’t take any pictures but this was an amazing thing…</a></h3>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
    </div>
    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        <div class="minilogo"></div>
        <div>
            <strong>The Newist</strong>
            <span>2 days ago</span>
        </div>
    </div>
</div>
<div class="mdl-card shopping mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50">
        <h3><a href="entry.html">Shopping</a></h3>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
    </div>
    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
        <div class="minilogo"></div>
        <div>
            <strong>The Newist</strong>
            <span>2 days ago</span>
        </div>
    </div>
</div>
<nav class="demo-nav mdl-cell mdl-cell--12-col">
    <div class="section-spacer"></div>
    <a href="entry.html" class="demo-nav__button" title="show more">
        More
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">arrow_forward</i>
        </button>
    </a>
</nav>